:root{
    --cinza: rgba(0,0,0,.7);
    --input-linear: linear-gradient(120deg, #0085ff, #FF4500);

}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.login{
    display: flex;
    width: 100%;
    height: 100vh;
    background: var(--input-linear);
    justify-content: center;
    align-items: center;

}

.login-container{
    min-height: 400px;
    width: 300px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-title{
    margin-bottom: 32px;
    color: var(--cinza);
}
.login-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-input{
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border:unset;
    outline: none;
    position: relative;
}
.login-input-border{
   height: 1px;
    width: 100%;
    margin-bottom: 16px;
    background-color: #0085ff;
    transition: .3s ease-in-out;
}
.login-input-border::after{
    content: '';
    display: block;
    height: 1px;
    width: 0;
    margin-bottom: 16px;
    background: var(--input-linear);
    transition: .3s ease-in-out;
}
.login-input:focus + .login-input-border::after{
    width: 100%;
}
.login-submit{
    height: 48px;
    width: 100%;
    padding-left: 8px;
    outline: none;
    position: relative;
    background: var(--input-linear);
    background-size: 100%;
    margin-bottom: 32px;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    border:unset;
    border-radius: 8px;
    cursor: pointer;
    transition: .5s ease;
}
.login-submit:hover {
    background-size: 175%;
}
.login-reset{
    font-size: 12px;
    color: var(--cinza);
    text-decoration: none;
}
